.content-wrapper {
  position: absolute;
  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}



.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #fff;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}

.map-wrap {
  width: 100%; /* Add this line */
  height: 100%; /* Add this line */
  position: relative; /* Add this line */
  z-index: 100; /* Add this line */
  overflow: hidden; /* Add this line */
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex; /* Add this line */
}

.container {
  flex: 1; /* Add this line */
  width: auto; /* Update this line */
  height: 100%;
  min-height: 566px;
  position: relative; /* Update this line */
  opacity: 1; /* Update this line */
  margin: 0; /* Update this line */
  top: 0; /* Update this line */
  z-index: 0; /* Update this line */
}

.container.contact-page,
.container.about-page {
  .text-zone {
  

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #fff;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -70px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #fff;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 13px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}
